html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


#welcome-section{
  text-align: center;
  background: #f5f7f7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-header{
 font-weight:normal;
 font-size: 125px;
 max-width: auto;
 animation-name: fadeInHeader;
 animation-duration: 4s;
}

@keyframes fadeInHeader{
  0% {opacity: 0;};
  50% { opacity: 50%;};
  100% { opacity: 100%;};
}

.welcome-subheader{
  transform: translate(0, -100px);
  letter-spacing: 1.5rem;
  font-size: 20px;
  animation-name: fadeInSubheader;
  animation-duration: 4s;
}

@keyframes fadeInSubheader{
  0% {opacity: 0;};
  50% { opacity: 20%;};
  100% { opacity: 100%;};
}

#about-section{
  background-color: #fff;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header{
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1.5rem;
  font-size: 20px;
}

.about-content{
  max-width: 40%;
  height: auto;
  border-left: 8px solid #313131;
  padding-left: 20px;
  text-align: justify;
}

.about-content__title{
  font-size: 32px;
}

.about-content__subtitle{
  font-size: 22px;
  font-weight: normal;
  color: #313131;
}

.about-content__message{
  font-size: 18px;
}

.about-image{
  box-shadow: 12px 12px 2px 1px rgba(49, 49, 49, .3);
  margin-left: 100px;
}

.about-image__content{
  height: 500px;
  width: auto;
}

#skills-section{
  height: 100%;
  background: #f5f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.skills-container{
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.skills-content{
  text-align: center;
  border-right: 8px solid #313131;
}

.skills-image{
  display: flex;
  justify-content: center;
}

.skills-image__content{
  height: 400px;
  width: auto;
}

.skills-content__title{
  font-size: 28px;
}

.skills-content__message{
  font-size: 20px;
  text-align: justify;
  padding-right: 20px;
}

hr{
  border: 4px solid #313131;
  width: 40%;
}

.skills-images{

}

footer{
  display: flex;
  background-color: #313131;
  height: 200px;
  align-items: center;
  justify-content: center;
}

#contact{
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}

#icon{
  font-size: 40px;
  color: #fff;
  transition: all .3s ease-in-out;
}

#icon:hover{
 transform: scale(1.3); 
}


@media (max-width: 575.98px){
  .welcome-header {
    font-size: 90px;
  }
  .welcome-subheader{
    font-size: 16px;
    letter-spacing: 1rem;
    transform: translate(0, -70px);
  }
  #about-section{
    height:100%;
    display: flex;
  }
  .about-content{
    width: 100%;
    height: 100%;
  }
  .about-content__title{
    font-size: 22px;
    width: 240px;
    text-align: left;
  }
  .about-content__message{
    font-size: 16px;
    width: 240px;
    text-align: center;
  }
  
  .about-image__content{
    display: none;
  }
}